h1 {
    font-family: 'Redressed', 'Roboto Slab', cursive, serif;
}

h2 {
    font-family: 'Poppins', 'Roboto Slab', cursive, serif;
}

img {
    cursor: pointer;
}

label {
    margin-bottom: 0!important;
}

input[type="range"] {
    max-width: 100%;
}

.choice-player-selected {
    background-color: #006a90;
    border-radius: 8px;
}

#img-choice1, #img-choice2, #img-choice3, #img-choice4, #img-choice5, #img-choice6 {
    max-height: 120px;
}
